/* layout */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    padding: 100px 0px;
    padding-top: 150px;
}

#intro {
    padding: 100px 100px;
}

#products {
    padding: 100px 0px;
    padding-bottom: 0px;
}

.product-pic {
    height: 231px;
}

#products .product-pictures {
    margin-top: 80px;
}

#download {
    border-bottom: solid;
    padding: 35px 0px;
    text-align: center;
}

#contacts {
    text-align: center;
    padding: 100px 0px;
}

/* element style */

body {
    font-family: 'Open Sans', Arial, sans-serif;
}


/* header */

#navbar {
    background-color: transparent;
    border-bottom: solid grey 1px;
    font-weight: 600;
}

header {
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.banner {
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 400;
}

.banner .header_title {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 90%;
    margin: 0 auto;
}

.navbar-default .navbar-brand {
    color: rgba(255,255,255,0.8);
}

.navbar-default .navbar-brand:hover {
    color: rgba(255,255,255,1);
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,0.8);
    background: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background:none;
}

hr {
    width: 50px;
    height: 4px;
    border: none;
    margin: 21px auto;
    border-radius: 2px;
}

hr.orange {
    background: #E94831;
}

.subtitle {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
    padding-bottom: 50px;
    font-weight: 200;
    letter-spacing: 1px;
}

.banner .subtitle {
    color: rgba(255, 255, 255, 0.8);
}

.btn {
    width: 175px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}

.btn.bgcolor {
    background-color: #E94831;
    color: white;
}

/* intro */

#intro {
    background-color: #E94831;
    color: white;
    text-align: center;
}

#intro .title {
    font-weight: 400;
}

hr.white {
    background: white;
}

.subtitle.smalltitle {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.btn.bgwhite {
    background-color: white;
    color: black;
}

/* Products */
#products {
    text-align: center;
}

.product-icon {
    color: #E94831;
}

.product-name {
    font-weight: 400;
    font-size: 1.2em;
}

.product-desc {
    font-size: 0.9em;
}

.product-pic.pic1 {
    background-image: url("../img/portfolio/1.jpg");
    background-size: cover;
}

.product-pic.pic2 {
    background-image: url("../img/portfolio/2.jpg");
    background-size: cover;
}

.product-pic.pic3 {
    background-image: url("../img/portfolio/3.jpg");
    background-size: cover;
}

.product-pic.pic4 {
    background-image: url("../img/portfolio/4.jpg");
    background-size: cover;
}

.product-pic.pic5 {
    background-image: url("../img/portfolio/5.jpg");
    background-size: cover;
}

.product-pic.pic6 {
    background-image: url("../img/portfolio/6.jpg");
    background-size: cover;
}

#download {
    text-align: center;
    background-color: #1A1A1A;
    color: white;
}

#download .title {
    padding-bottom: 20px;
}

/* contacts */

#contacts .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0px;
}

address {
    font-family: Merriweather, Arial, sans-serif;
}

.email address {
    color: tomato;
}
