<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        div {
            height: 100px;
            border: solid blue 1px;
            width: 185px;
        }
        
        footer {
            background-color: skyblue;
            height: 40px;
            clear: left;
        }
        
        .float {
            float: left;
        }
        
        .inline {
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>with float, need clear</h1>
    <div class='float' id="one"></div>
    <div class='float' id="two"></div>
    <div class='float' id="three"></div>
    <div class='float' id="four"></div>
    <div class='float' id="five"></div>
    <div class='float' id="six"></div>
    <footer>Copyleft</footer>
    <h1>with inline, no clear needed, but there is space between them</h1>
    <div class='inline' id="one"></div>
    <div class='inline' id="two"></div>
    <div class='inline' id="three"></div>
    <div class='inline' id="four"></div>
    <div class='inline' id="five"></div>
    <div class='inline' id="six"></div>
    <footer>Copyleft</footer>
</body>
</html>