<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #page {
            border: double blue 2px;
        }
        
        nav {
            display: inline-block;
            height: 0px;
            vertical-align: top;
            width: 24%;
        }
        
        article {
            margin-left: 100px;
            width: 500px;
            border-style: solid blue;
        }
    </style>
</head>

<body>
    <div id="page">
        <nav>
            <ul>
                <li>About</li>
                <li>Products</li>
                <li>Blogs</li>
            </ul>
        </nav>
        <div id="content">
            <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, pariatur! Maxime enim eligendi nemo suscipit quas voluptatibus id ad sint. Dicta, voluptatem. Iste adipisci iusto vel, dolor assumenda, sequi itaque.</article>
            <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore qui odit perspiciatis. Accusantium, reprehenderit dicta perspiciatis ratione magni numquam iste assumenda, atque recusandae quasi necessitatibus ut! Qui accusamus, dolor?</article>
            <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum commodi porro dolorem deleniti odit voluptates enim quo consequuntur earum, blanditiis, vero! Autem omnis nisi vitae eos, ad in voluptatum aperiam.
            </article>
        </div>
    </div>
</body>
</html>